language: java
jdk:
- oraclejdk8
- openjdk8
dist: trusty
script: mvn org.jacoco:jacoco-maven-plugin:prepare-agent clean install sonar:sonar site
env:
  matrix:
    secure: AVFhPadriChDFAi6WzcifaEmjXaIdNCMmmsCr2CJw63SptFZ9HcC670oJWTGxVvWCGjTOQAXkwcD1ND4poJCfuXbaN/STPSQxAfF6KGrtMwVcssfbQU0h2XG2N/I8VNcldBFsCwGIe+tvUCnVK0bH9Clst/3sC5HokI4CPGL5YUG+c57rkhh4PDl5gsJHbBdbO7XL8ftjnBkWPuZ9s6NnzJEe12G8s4llUGyzPUpYVer+L0iREdCgAbvD1HZ7ejox2wEmDScKR58fnyF64m4MVOb5Wf0WCh3C9kZH1UrqqOl/ssG+sM6RuNf9piCizPfQWJ3tSiAaqWSO6DdHXS66MPipkeWg6fcqijz+yDgJbjqsB/0cV+oP3RFNbTHpG6oiFwMY4dX9Wnrz8wbhOiebWo2EwusUuV3JigvGrQQv0zxYkTauDDXCMEJGALDoU/QUNYtiQekx7AsNlUScNdqbL1+IZkcVQ8UdXUiZR8mTebpEFCpR5v1LShehq4G4jgp0d3x4KPnBbMjY00R5dmGOdAPRkzoCl7WHPg33VVWcFyyAJ6gn4ijPRvSofdEoffuI88MGFmtkgA/gzYEYkVAdKhmr+9URSwfhXFnNAXi3s9FLf7oi8RvwR7Bl85pOzTD5nzV6KxeVWI08pDq6PoORUc+QJjwulIdGSQNQg4nHbc=
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: target/site
  github_token: $GITHUB_TOKEN
  on:
    tags: true
addons:
  sonarcloud:
    organization: 'l0s-github'
    token:
      secure: "gD90ITnrkOS1v18AZN6PWelF3chbNwP/9leSHudGior+j62sqjs5zoY26nnExyfUYUjle3rhCsIk2om1L2/tXy24k7b3nWgG7yCt229VaYoMmcT7xcAtf/3jPGYZ/lXP/Jlsb1UXZq3PutbXOIl0+RqRX8opXbUDEVycH+5pCJ/sIoteftmdMBNZCoMdc7g1D3GYFb1dwltcrYhVW4zLCNtQOK6LyAHnDpHEdT5VGjjGM7EEbMNJRJS8NJWpO24LFKrcGlX3lDJksZsykYFmI1M0Ib7TkeuqhLunqbLYY0kJb4cNXQC+p0bT3aC3kiCVCT18Up83qi6zzudkMTPnpnnUyvScx5TpmhK6Hjmb0eWviasZH3bv5AOtsZuEkh/je0TLXcheAHw0sfHnNBtG6oAEKzDQlMzLeSLDJcIbmW0iLyjWFm+anwWiaTdYjLGEzimpuMdeP8PxSYgBbroqN37/jeVBwAJrRNPqWAaqf66fsWBuRkWaxX3Pag1evN9FaWis7y6aj4DqDu/nszIzOkEgTDlxPrCytVThEErs47b2HWPhmWY9V/cItkHwO/yNTiRHJb6wJocShfGTzHkVV0ZuMvqJD1UcwXPZdywKcpnlrr98osH+Td2XtCC4sQCQJTf/qwAKsGsF0AI8q3TsUG6LJMTHwUFvJXax3DS+Yus="
cache:
  directories:
    - $HOME/.m2
    - fernet-java8/target/pmd
    - $HOME/.sonar/cache
